#tourCarousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Đảm bảo carousel có chiều rộng đầy đủ */
    height: 300px; /* Bạn có thể điều chỉnh chiều cao này sao cho phù hợp */
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 100%;
    /* Điều chỉnh chiều rộng để phù hợp với chiều rộng hình ảnh */
}
.carousel-cell:hover .carousel-caption {
    background: rgba(0, 0, 0, 0.7);
  /* Thay đổi màu nền khi hover */
}