#tourCarousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Đảm bảo carousel có chiều rộng đầy đủ */
    height: 300px; /* Bạn có thể điều chỉnh chiều cao này sao cho phù hợp */
}

.tour-item {
    flex: 0 0 25%; /* Mỗi item chiếm 25% chiều rộng của carousel */
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
    padding: 10px; /* Khoảng cách giữa các item */
    transition: transform 0.3s ease-in-out;
}
.tour-item:hover {
    transform: scale(1.05); /* Tăng kích thước khi hover */
}